body{
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.section-header{
    width: 100%;
    background: rgb(246,245,239);
    height: 120px;
}

.inner-header{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 75px;
    height: 75px;
    position: relative;
    right: 10%;
    bottom: 15%;
}

.logo img{
    width: 150%;
    height: 150%;
}

.space-nav{

}

.space-nav li{
    display: inline-block;
}
.top-nav{
    height: 45px;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
}

.top-nav a{
    color: black;
    text-decoration: none; /* 밑줄없애기*/
    padding-right: 15px;
    padding-left: 15px;
    border-right: 1px solid lightgray;
}

.top-nav a:hover{
    text-decoration: underline; /*밑줄*/
}

.top-nav button{
    background-color: white;
    padding: 4px 7px 4px 7px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
}

.bottom-nav{
    display: flex;
    justify-content: flex-end;
}

.bottom-nav a{
    color: black;
    text-decoration: none; /* 밑줄없애기*/
    padding-right: 15px;
    padding-left: 15px;
}

.bottom-nav a:hover{
    color: green;
    text-decoration: underline;
}

.section1{
    width: 100%;
    background-image: url(/images/section1back.PNG);
    height: 540px;
    background-repeat:no-repeat;
    background-size: 100% auto;
    position: relative;
}

.text-img{
    position: absolute;
    left: 15%;
    top: 25%;
    width: 16%;
}

.detail-btn{
    background: none;
    border-radius: 5px;
    border: 2px solid black;
    position: absolute;
    left: 19.5%;
    top: 60%;
    padding: 5px 10px 5px 10px;
    width: 7%;
}

.section1 .detail-btn:hover{
    background:darkgreen;
    color: white;
    text-decoration: underline;
    transition: all 0.5s;
    cursor: pointer;
}

.espresso{
    position: absolute;
    left: 57%;
    top: 10%;
    width: 16%;
}

.whitetaromilk{
    position: absolute;
    left: 36%;
    top: 16%;
    width: 18%;
}

.chamoniletea{
    position: absolute;
    left: 47%;
    top: 50%;
    width: 19%;
}

.section2{
    width: 100%;
}

.right-nav{
    width: 50%;
    height: 110px;
    background: black;
    position: relative;
    align-items: center;
    float: left;
}
.left-nav{
    width: 50%;
    height: 110px;
    float: left;
    position: relative;
}
.right-text{
    width: 49%;
    height: 50px;
    color: white;
    position: absolute;
    display: flex;
    left: 30%; 
    top: 25%;
}
.right-text h3{
    display: inline;
}
.left-text{
    width: 50%;
    height: 50px;
    display: inline;
    position: absolute;
    top: 25%;
    font-weight: 1000;
    left: 13%;
}
.right-text span{
    color: white;
    display: flex;
    position: absolute;
    right: -30%;
    font-size: 50px;
    top: 5%;
}

.left-nav span{
    display: inline;
    position: absolute;
    top: 20%;
    left: 38%;
    font-size: 50px;
}

.section3{
    clear: both;
    background: rgb(30, 57, 50);
    width: 100%;
    height: 240px;
    position: relative;
    color: white;
}

.section3-logo{
    width: 170px;
    height: 150px;
    position: absolute;
    top: 7%;
    left: 15%;
}

.section3-inner{
    position: absolute;
    width: 900px;
    height: 180px;
    top: 5%;
    left: 28%;
    margin-bottom: 10px;
}
.inner-top{
    width: 790px;
    height: 120px;
}
.inner-top ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}

.inner-top span{
    font-weight: bold;
}

.section3-top-button{
    position: absolute;
    bottom: 40%;
    right: 0;
}
.section3 button{
    padding: 7px 20px 7px 20px;
    border-radius: 5px;
    margin: 5px;
}

.section3-top-button1{
    background: green;
    border: 1px green solid;
    color: white;
}

.section3-top-button2{
    background: none;
    color: white;
    border: 2px white solid;
}

.section3 hr{
    border: 0;
    height: 0.1px;
    background-color: rgb(124, 168, 124);
}
.inner-bottom{
    width: 820px;
    height: 60px;
    margin-top: 10px;
    position: relative;
}
.inner-bottom p{
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.seciton3-bottom-button{
    padding: 10px 50px;
    position: absolute;
    right: -16%;
    top: -24%;
}
.seciton3-bottom-button1{
    padding: 5px 20px;
    background: none;
    border: 1px white solid;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: 1px;
}

.section4{
    width: 100%;
    height: 450px;
    background-image: url(/images/back2.png);
    background-repeat:no-repeat;
    background-size: 100% auto;
    position: relative;
}

.section5-img{
    position: absolute;
    top: 3.5%;
    left: 33.7%;
}
.section4-inner{
    width: 500px;
    height: 150px;
    position: absolute;
    top: 28%;
    left: 54%;
}

.section4-inner p, .section4-inner h2{
    padding: 0;
    margin: 1px;
    color: brown;
}

.section4-inner-button{
    position: absolute;
    top: 63%;
    left: 54%;
}

.section4-button{
    background: none;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    border: 1px brown solid;
    font-size: 15px;
    color: brown;
}

.section5{
    background-image: url(/images/back3.png);
    background-repeat:no-repeat;
    background-size: 100% auto;
    position: relative;
    width: 100%;
    height: 300px;
    position: relative;
}

.section5-inner-button{
    position: absolute;
    top: 70%;
    left: 38%;
}

.section5-button{
    border-radius: 5px;
    border: 1px brown solid;
    background: none;
    color: brown;
    padding: 3px 20px 3px 20px;
    font-size: 15px;
}

.section6{
    background-image: url(/images/back4.png);
    background-repeat:no-repeat;
    background-size: 100% auto;
    position: relative;
    width: 100%;
    height: 600px;
}

.section6-inner{
    width: 500px;
    height: 200px;
    position: absolute;
    top:50%;
    left: 11%;
    text-align: right;
}

.section6-inner p, h2{
    padding: 0;
    margin: 0;
    color: white;
}

.section6-button{
    background: none;
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    padding: 7px 20px 7px 20px;
    font-size: 15px;
}

.section7{
    width: 100%;
    height: 335px;
    background-image: url(/images/back5.png);
    background-repeat:no-repeat;
    background-size: 100% auto;
    position: relative;
}

.section7-inner{
    position: absolute;
    top: 30%;
    left: 29%;
}

.section7-button{
    position: absolute;
    top: 68%;
    left: 35%;
}

.section7-button button{
    border-radius: 5px;
    border: 1px black solid;
    background: none;
    padding: 8px 25px 8px 25px;
    font-size: 15px;
}

.section8{
    background-image: url(/images/back6.png);
    background-repeat:no-repeat;
    position: relative;
    width: 100%;
    height: 370px;
    margin: 0;
}

.section8-img1{
    position: absolute;
    left: 45%;
}

.section8-img2{
    position: absolute;
    left: 22%;
}

.section8-img3{
    position: absolute;
    left: 37.5%;
    top: 39.5%;
}

.section8-img4{
    position: absolute;
    bottom: -3px;
    left: 70%;
}

.section8-inner{
    width: 500px;
    height: 300px;
    position: absolute;
    left: 57%;
    top: 22%;
}

.section8-inner p{
    padding: 0;
    margin: 0;
}

.section8-inner button{
    background: none;
    border-radius: 5px;
    font-size: 15px;
    padding:5px 20px;

}

.section9{
    background: rgb(44, 42, 41);
    height: 600px;
    width: 100%;
    position: relative;
}

.section9-inner1 {
    color: white;
    text-align: left;
    height: 250px;
    width: 1200px;
    position: absolute;
    left: 15%;
}

.section9-inner1 ul{
    padding: 0;
    margin-top: 5%;
    width: 220px;
    color: white;
    list-style-type: none;
    float: left;
    font-size: 14px;
}

.section9-inner1 li{
    padding: 2px;
}
.section9-li1,
.section9-li2,
.section9-li3,
.section9-li4,
.section9-li5{
    height: 40px;
}

.section9-img{
    position: absolute;
    top: 5%;
    left: 81%;
}


.section9-inner2{
    position: absolute;
    top: 52%;
    left: 14.5%;  
    width: 100%;
}

.section9-inner3{
    display: flex;
    font-size: 11px;
    margin-left: 14.5%;
    position: absolute;
    top: 66%;
}



.section9-inner3 a{
    font-weight: bold;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid rgb(56, 53, 53);
}

.section9-inner1 li:hover,
.section9-inner3 a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.section9-inner3-a1, .section9-inner3-a4{
    color: green;
} 

.section9-inner3-a2,
.section9-inner3-a3,
.section9-inner3-a5,
.section9-inner3-a6,
.section9-inner3-a7,
.section9-inner3-a8,
.section9-inner3-a9{
    color: white;
}

.section9-inner4{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 72.5%;
    display: inline-block;
    text-align: center;
    margin: 0;
}

.section9-inner4-a1,
.section9-inner4-a2,
.section9-inner4-a3{
    border: 2px solid white;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    font-size: 12px;
    align-items: c;
    color: white;
}

.section9-inner4-a4,
.section9-inner4-a5,
.section9-inner4-a6,
.section9-inner4-a7,
.section9-inner4-a8{
    font-size: 12px;
    color: gray;
    margin: 0;
}

.section9-inner4 hr{
    border: 0px;
}
